# Haskell things

dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Advent of Code things

**/inputs
aoc_cookie

# Elixir things

*/.elixir_ls

# Scala things
**/.bloop
**/.metals
**/target